body {
    margin: 0;
}
.par {
   background-color: #a454a1; 
   display: flex;
   justify-content: center;
   
}
h1{ 
    color: aliceblue;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}
.header {
     background-color: #2d1850;
    height: 12vh;
}
.links {
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: Helvetica, sans-serif;
}
.link {
    text-decoration: none;
    color: aliceblue;
}
.container {
    height: 30vh;
    background-color: #2d1850;
}
.wrap {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: #5b108b;
    color: aliceblue;
    padding: 20px;
    font-size: 20px;
    border: none;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

.par1 {
    opacity: 0;
    color: #2d1850;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
   }
   .par2 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    padding: 5px;
    color: aliceblue;
    width: max-content;
    border-radius: 5%;
   }


.box{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: row;
   align-items: center;
}
.box1{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.main {
    display: flex;
    flex-direction: column;
  }
 .part {
     display: flex;
     justify-content: space-around;
     margin: 30px;
  
 } 
.one {
   background: #a454a1;
}
.two {
    background: #5b108b;
}
.three {
    background: #2d1850;
}
.four{
    background-color: rgb(12, 76, 132);
}
.btn1 {
      color: aliceblue;
    padding: 10px;
    font-size: 20px;
    border: none;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 5%;
    width: max-content;
    margin: 20px;
   
}

.par3 {
    width: 200px;
    height: 200px;
    border-radius: 80%;
    margin: 10px;
    display: inline-block;
}

@media all and (max-width:700px) {
    .choco{
        width: 500px;
        height: 400px;
    }
}